<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QLNghiencuu&Giangday</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body class="bg-dark text-white" onload="$('#modelId').modal('show')">
    <h1>Management System</h1>

    <div class="container mt-5">
      <div class="d-flex justify-content-end w-100 m-2">
        <select id="filterLoai" onchange="filterByLoai()">
          <option value="">All</option>
          <option value="Customer">Customer</option>
          <option value="Student">Student</option>
          <option value="Employee">Employee</option>
        </select>

        <button
          type="button"
          class="btn btn-primary mx-3"
          onclick="btnSort()"
        >
          A ~ Z
        </button>

        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#modelId"
          onclick="btnShowAdd()"
        >
          Add someone
        </button>
      </div>
      <!-- Button trigger modal -->

      <table class="table bg-white text-center">
        <thead>
          <tr>
            <th>Họ tên</th>
            <th>Địa chỉ</th>
            <th>Email</th>
            <th>Chức vụ</th>
            <th>Lương</th>
            <th>DTB</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="tblManager"></tbody>
      </table>

      <!-- Modal -->
      <div
        class="modal fade"
        id="modelId"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modelTitleId"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content bg-dark">
            <div class="modal-header">
              <h5 class="modal-title" id="title">MODEL</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="form-group">
                  <label for="">Họ tên:</label>
                  <input
                    type="text"
                    class="form-control"
                    name=""
                    id="hoten"
                    aria-describedby="helpId"
                    placeholder=""
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="">Địa chỉ:</label>
                  <input
                    type="text"
                    class="form-control"
                    name=""
                    id="diachi"
                    aria-describedby="helpId"
                    placeholder=""
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="email">Email:</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="">Phân loại:</label>
                  <select
                    class="custom-select"
                    name=""
                    id="loai"
                    value=""
                    onchange="showMoreOption(value)"
                  >
                    <option value="">Chọn chức vụ</option>
                    <option value="Employee">Employee</option>
                    <option value="Customer">Customer</option>
                    <option value="Student">Student</option>
                  </select>
                </div>

                <!-- Hidden -->
                <div style="display: none" id="hiddenCustomer">
                  <div class="form-group">
                    <label for="">Tên công ty:</label>
                    <input
                      type="text"
                      class="form-control"
                      name=""
                      id="tenct"
                      aria-describedby="helpId"
                      placeholder=""
                    />
                  </div>

                  <div class="form-group">
                    <label for="">Trị giá hóa đơn:</label>
                    <input
                      type="number"
                      class="form-control"
                      name=""
                      id="trigia"
                      aria-describedby="helpId"
                      placeholder=""
                    />
                  </div>

                  <div class="form-group">
                    <label for="">Đánh giá:</label>
                    <input
                      type="text"
                      class="form-control"
                      name=""
                      id="danhgia"
                      aria-describedby="helpId"
                      placeholder=""
                    />
                  </div>
                </div>

                <div style="display: none" id="hiddenEmployee">
                  <div class="form-group">
                    <label for="">Số ngày làm việc:</label>
                    <input
                      type="number"
                      class="form-control"
                      name=""
                      id="ngaylamviec"
                      aria-describedby="helpId"
                      placeholder=""
                    />
                  </div>

                  <div class="form-group">
                    <label for="">Lương theo ngày:</label>
                    <input
                      type="number"
                      class="form-control"
                      name=""
                      id="luongtheongay"
                      aria-describedby="helpId"
                      placeholder=""
                    />
                  </div>
                </div>

                <div style="display: none" id="hiddenStudent">
                  <div class="form-group">
                    <label for="">Toán:</label>
                    <input
                      type="number"
                      class="form-control"
                      name=""
                      id="toan"
                      aria-describedby="helpId"
                      placeholder=""
                    />
                  </div>

                  <div class="form-group">
                    <label for="">Lý:</label>
                    <input
                      type="number"
                      class="form-control"
                      name=""
                      id="ly"
                      aria-describedby="helpId"
                      placeholder=""
                    />
                  </div>

                  <div class="form-group">
                    <label for="">Hóa:</label>
                    <input
                      type="number"
                      class="form-control"
                      name=""
                      id="hoa"
                      aria-describedby="helpId"
                      placeholder=""
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                onclick="addBtn()"
                id="addBtn"
                class="btn btn-primary"
              >
                Add
              </button>
              <button
                type="button"
                value=""
                onclick="editBtn(value)"
                id="editBtn"
                style="display: none"
                class="btn btn-primary"
              >
                Edit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script>
      $("#exampleModal").on("show.bs.modal", (event) => {
        var button = $(event.relatedTarget);
        var modal = $(this);
        // Use above variables to manipulate the DOM
      });
    </script>
    <script type="module" src="../controllers/main.js"></script>
  </body>
</html>
